.post-container {
    /* border: 1px solid gray; */
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-header {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    width: 49%;
    
}
.post-header img {
    border-radius: 100px;
    padding: 10px;
    width: 6%;
}
.post-header p{
    font-weight: bold;
}
.post {
    display: flex;
    flex-direction: column;
    width: 49%;
    align-items: flex-start;
    padding: 10px;
    
}
.post-comment-header-container{
    border: 1px solid lightgray;
    border-radius: 1%;
}